﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body style="background-color:skyblue">
    <div class="bg-faded">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Natural Life at Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
 
        <div class="container">
            <nav class="navbar navbar-default">
                <div style="padding-left:300px" class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("ANASAYFA", "Index", "Home")</li>
                        <li>@Html.ActionLink("HABERLER", "Haberler", "Home")</li>
                        <li>@Html.ActionLink("BLOG", "blog", "Home")</li>
                        <li>@Html.ActionLink("HAKKIMIZDA", "About", "Home")</li>
                        <li>@Html.ActionLink("İLETİŞİM", "Contact", "Home")</li>
                    </ul>
                </div>
            </nav>
        </div>
 
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>