﻿@{
    ViewBag.Title = "Biz kimiz?";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/business-casual.css" rel="stylesheet">

</head>

<body>


    <div class="container">

        <div style="background-color:white" class="bg-faded p-4 my-4">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">
                Biz Kimiz?
                <strong>Natural Life at Home</strong>
            </h2>
            <hr class="divider">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-fluid mb-4 mb-lg-0"  style="margin-left:20px; margin-bottom:20px; width:500px;height:350px" src="~/images/3.jpg" alt="">
                </div>
                <div class="col-lg-6">
                    <p>Merhaba,</p>
                    <p>Natural Life at Home ailesi olarak amacımız, siz kullanıcılarımızın köy ürünleri üreten güvenilir çiftliklerden online alışveriş yapıp aynı zamanda sağlıklı ve doğal yaşama dair püf noktaları olabileceğiniz sıcak bir ortam oluşturmak.</p>
                    <p>Biz iki üniverfsite öğrencisi olarak, sağlık olmayınca hiçbir şeyin bir değerinin olmayacağı bilinciyle bu yola çıktık. Globalleşen dünyaya ayak uydurmak için yanlış yollarla üretilen yiyeceklerin vücuda hiçbir yararı olmayacağı gibi vücuda verdiği zararları öğrendik. Kendimizi bilinçlendirirken başka insanlarında bilinçlenmesi için bir proje oluşturmaya karar verdik.</p>
                    <p>Çocukluktaki köylerimizi, bir dut yemek için tırmandığımız ağaçları, her sabah toplanılan sıcak yumurtaları düşündük. Köy yaşantısı şehre taşıyarak şehir hayatının getirdiği sağlıksız yaşamı törpüleyebilmenin mümkün olduğunu herkese göstermek istiyoruz. Ayrıca bizim gibi düşünen insanlar için bir ortam oluşturmayı hedefledik.</p>
                    <p>Bu hedefler doğrultusunda karşınızdayız ve tüm kullanıcılarımıza hoşgeldiniz diyoruz.</p>
                </div>
            </div>
        </div>

        <div style="background-color:white" class="bg-faded p-4 my-4">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">

                <strong>Anlaşmalı Şirketlerimiz</strong>
            </h2>
            <hr class="divider">
            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card h-100">
                        <img class="card-img-top" alt="">
                        <div class="card-body text-center">
                            <h4 class="card-title m-0">
                                Şirket 1
                                <small class="text-muted">Job Title</small>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card h-100">
                        <img class="card-img-top" alt="">
                        <div class="card-body text-center">
                            <h4 class="card-title m-0">
                                Şirket 2
                                <small class="text-muted">Job Title</small>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card h-100">
                        <img class="card-img-top" alt="">
                        <div class="card-body text-center">
                            <h4 class="card-title m-0">
                                Şirket 3
                                <small class="text-muted">Job Title</small>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="background-color:white" class="bg-faded p-4 my-4">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">

                <strong>Bloggerlarımız</strong>
            </h2>
            <hr class="divider">
            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card h-100">
                        <img class="card-img-top" alt="">
                        <div class="card-body text-center">
                            <h4 class="card-title m-0">
                                Blogger 1
                                <small class="text-muted">Job Title</small>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card h-100">
                        <img class="card-img-top" alt="">
                        <div class="card-body text-center">
                            <h4 class="card-title m-0">
                                Blogger 2
                                <small class="text-muted">Job Title</small>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card h-100">
                        <img class="card-img-top" alt="">
                        <div class="card-body text-center">
                            <h4 class="card-title m-0">
                                Blogger 3
                                <small class="text-muted">Job Title</small>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
   

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>