﻿@{
    ViewBag.Title = "İletişim";
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/sauwie.css" rel="stylesheet">

</head>

<body>
    <div class="container">

        <div style="padding:10px; margin-bottom:50px; margin-top:15px; background-color:white" class="bg-faded p-4 my-4">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">
                <strong>İLETİŞİM</strong>
            </h2>
            <hr class="divider">
            <div class="row">
                <div class="col-lg-8">
                    <div class="embed-responsive embed-responsive-16by9 map-container mb-4 mb-lg-0">
                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=40.7419405,30.3268555&amp;spn=56.506174,79.013672&amp;t=m&amp;z=16&amp;output=embed"></iframe>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h5 class="mb-0">Telefon:</h5>
                    <div class="mb-4">123.456.7890</div>
                    <h5 class="mb-0">Email:</h5>
                    <div class="mb-4">
                        <a href="mailto:name@example.com">name@example.com</a>
                    </div>
                    <h5 class="mb-0">Adres:</h5>
                    <div style="border:solid" class="mb-4">
                            Sakarya Üniversitesi Bilgisayar ve Bilişim Bilimleri Fakültesi
                            <br>
                            Bilgisayar Mühendisliği Binası SAKARYA
                    </div>
                </div>
            </div>
        </div>

        <div style="padding:10px; margin-bottom:50px; margin-top:15px; background-color:white" ; class="bg-faded p-4 my-4">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">
                İLETİŞİM
                <strong>FORMU</strong>
            </h2>
            <hr class="divider">
            <form>
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label class="text-heading">İsim</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-lg-4">
                        <label class="text-heading">Email</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="form-group col-lg-4">
                        <label class="text-heading">Telefon Numarası</label>
                        <input type="tel" class="form-control">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-12">
                        <label class="text-heading">Mesaj</label>
                        <textarea class="form-control" rows="6"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                        <button type="submit" class="btn btn-secondary">Gönder</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <!-- /.container -->

    <footer class="bg-faded text-center py-5">
        <div class="container">
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Zoom when clicked function for Google Map -->
    <script>
      $('.map-container').click(function () {
        $(this).find('iframe').addClass('clicked')
      }).mouseleave(function () {
        $(this).find('iframe').removeClass('clicked')
      });
    </script>

</body>

</html>