﻿@{
    ViewBag.Title = "Ana Sayfa";
}

<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/path/to/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/path/to/jquery.bxslider.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/sauwie.css" rel="stylesheet">

</head>

<body>
    <div class="container">

        <div style="margin-bottom:40px; background-color:white" class="bg-faded p-4 my-4">
            <!-- Image Carousel -->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol  class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid w-100"  alt="">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="text-shadow">First Slide</h3>
                            <p class="text-shadow">This is the caption for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class ="d-block img-fluid w-100" src="~/images/2.jpg" alt="">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="text-shadow">Second Slide</h3>
                            <p class="text-shadow">This is the caption for the second slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid w-100"  alt="">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="text-shadow">Third Slide</h3>
                            <p class="text-shadow">This is the caption for the third slide.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
            <div style="margin-bottom:40px; background-color:white" class="bg-faded p-4 my-4">
                <hr class="divider">
                <h2 class="text-center text-lg text-uppercase my-0">
                    EN SON YÜKLENEN HABER
                </h2>
                <hr class="divider">
                <img class="img-fluid float-left mr-4 d-none d-lg-block" src="img/intro-pic.jpg" alt="">
                <p>Gençlik Derneği, Erasmus Plus Gençlik Değişimleri programı kapsamında hazırlanan Avrupa Birliği Eğitim ve Gençlik Programları Merkezi Başkanlığı (Türkiye Ulusal Ajansı) tarafından finanse edilen “Haydi, Spor Yapalım” projesi 13-20 Ekim 2017 tarihleri arasında Sorgun’da gerçekleştirildi.</p>
                <p>Proje kapsamında 8 gün boyunca Türkiye, Polonya, İtalya ve Yunanistan olmak üzere 4 ülkeden 25 katılımcı ile birlikte farklı aktiviteler ve sportif faaliyetler yapıldı. Proje ile gençlerin, spor faaliyetleriyle sosyal hayata katılımını ve uyumunu sağlamayı amaçladıklarını söyleyen Sorgun Gençlik Derneği Yönetim Kurulu Başkanı Halil Uğuz “Projemiz ile gençler kendi dar dünyalarından bir nebze olsa kurtularak, başka ortamlarda, başka kişilerden, inançlardan, düşüncelerden insanlar ile diyalog içinde bulundular. Farklı ülkelerden gelen farklı dil, din ve ırka sahip gençlerin yeni dostluklar kurmalarını ve bu dostluklarını pekiştirmelerine olanak sağladığımızı düşünüyoruz. Proje süresince yapılan tüm faaliyetlerle gençler arasında hoşgörü ve dayanışma duygusunun pekiştiğini ve gençlerin sorumluluk duygularının geliştiğini gözlemledik” dedi.</p>
                <p>Obezite, sağlıklı beslenme, teknoloji bağımlılığı gençler üzerindeki etkileri, sorunları ve çözümleri üzerine oturumlar düzenlediklerini söyleyen Uğuz, “Her ülke kendi ülkesinde yapılan gençlik ve spor faaliyetleri ve yapılan politikalar hakkında bilgiler verdi. </p>
            </div>

            <div style="background-color:white" class="bg-faded p-4 my-4">
                <hr class="divider">
                <h2 class="text-center text-lg text-uppercase my-0">
                 EN SON YÜKLENEN BLOG YAZISI 
                </h2>
                <hr class="divider">
                <p>Temiz beslenme (clean eating) çoğunlukla daha fit olmak için beslenme düzeninde yapılan değişimler olarak ele alınıyor. Ama aslında temiz beslenmeye başladığınız zaman hayatınızda yaptığınız değişimin boyutları, size yeni bir yaşamın kapılarını açıyor. Yani yakacağınız kalorilerden çok daha fazlası söz konusu.</p>
                <p>Temiz beslenmeye yeni başlayacak olanlar için 5 adım öneriyoruz. Bunların hepsini hayatınızda bir anda gerçekleştirmeye çalışmayın, adım adım ilerleyin. Birden yapamadığınız hissine kapılıp motivasyonunuzu kaybetmenizdense hayatınızda yavaş ama köklü bir değişim yaşamanız için teşvik etmeyi önemsiyoruz.</p>
                <p>Kendinize yeşil hedefler belirleyin. Yeme düzeninize yeşili dahil etmeniz etrafınızdaki abur cuburların yavaş yavaş yok olmasını sağlayacak. Üstelik yeşilin tazeliği sizi daha enerjik ve gerçek anlamda beslenmiş hissetmeye sevk edecek. Günde en az iki öğününüze yeşili dahil etme konusunda kendinizi ikna edin. Lahana, ıspanak, pazı ya da marul olması fark etmiyor, siz neyi seviyorsanız. Yemeklerinize yeşili dahil etmeyi bir alışkanlık haline getirin, zaman ilerledikçe daha koyu ve lezzetli çeşitlerle aranız gayet iyi olacak.Mevsim sebzelerini öğrenmek için buraya, mevsim meyvelerini öğrenmek içinse buraya bakabilirsiniz.</p>
            </div>
    </div>



    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>