﻿@{
    ViewBag.Title = "Biz kimiz?";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/business-casual.css" rel="stylesheet">

</head>

<body>


    <div class="container">

        <div class="bg-faded p-4 my-4">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">
                Biz Kimiz?
                <strong>Natural Life at Home</strong>
            </h2>
            <hr class="divider">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-fluid mb-4 mb-lg-0" src="img/slide-2.jpg" alt="">
                </div>
                <div class="col-lg-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta dolore voluptatem, deleniti dignissimos excepturi veritatis cum hic sunt perferendis ipsum perspiciatis nam officiis sequi atque enim ut! Velit, consectetur.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam pariatur perspiciatis reprehenderit illo et vitae iste provident debitis quos corporis saepe deserunt ad, officia, minima natus molestias assumenda nisi velit?</p>
                </div>
            </div>
        </div>

        <div class="bg-faded p-4 my-4">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">
                
                <strong>Anlaşmalı Şirketlerimiz</strong>
            </h2>
            <hr class="divider">
            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card h-100">
                        <img class="card-img-top" alt="">
                        <div class="card-body text-center">
                            <h4 class="card-title m-0">
                                John Smith
                                <small class="text-muted">Job Title</small>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card h-100">
                        <img class="card-img-top"  alt="">
                        <div class="card-body text-center">
                            <h4 class="card-title m-0">
                                John Smith
                                <small class="text-muted">Job Title</small>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card h-100">
                        <img class="card-img-top" alt="">
                        <div class="card-body text-center">
                            <h4 class="card-title m-0">
                                John Smith
                                <small class="text-muted">Job Title</small>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
            
            <strong>Bloggerlarımız</strong>
        </h2>
        <hr class="divider">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card h-100">
                    <img class="card-img-top"  alt="">
                    <div class="card-body text-center">
                        <h4 class="card-title m-0">
                            John Smith
                            <small class="text-muted">Job Title</small>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card h-100">
                    <img class="card-img-top"  alt="">
                    <div class="card-body text-center">
                        <h4 class="card-title m-0">
                            John Smith
                            <small class="text-muted">Job Title</small>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <img class="card-img-top" alt="">
                    <div class="card-body text-center">
                        <h4 class="card-title m-0">
                            John Smith
                            <small class="text-muted">Job Title</small>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>